<section id="modal-trigger">
    <!-- Modal-trigger content goes here -->

    <!-- get updates / modal trigger -->
    <section class="bg-light">
        <div class="container">
          <div class="text-center">
            <h2>Acompanhe nossas coleções.</h2>
            <p class="lead">Sempre um estilo...</p>
          </div>
          <div class="row justify-content-center">
            <div class="col-md-8 text-center">
              <p class="text-muted my-4">Acompanhe as tendencias!</p>
              <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#reg-modal">
                Registre-se
              </button>
            </div>
          </div>
        </div>
      </section>
    
      <!-- modal itself -->
      <div class="modal fade" id="reg-modal" tabindex="-1" aria-labelledby="modal-title" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="modal-title">Acompanhe nossas coleções</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
              <p>Torne-se um parceiro!</p>
              <label for="modal-email" class="form-label">Your email address:</label>
              <input type="text" class="form-control" id="modal-email" placeholder="e.g. brechosim@example.com">
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary">Enviar</button>
            </div>
          </div>
        </div>
      </div>

  </section>
  