<section id="contact-form">
    <!-- Intro content goes here -->

    <!-- contact form -->
        <!-- form-control, form-label, form-select, input-group, input-group-text -->
        <section id="contact">
            <div class="container-lg">
            
            <div class="text-center">
                <h2>Contate-nos</h2>
                <p class="lead">Quer saber mais sobre as roupas? Marque um horário conosco.</p>
            </div>
            <div class="row justify-content-center my-5">
                <div class="col-lg-6">
                
                <form>
                    <label for="email" class="form-label">Email:</label>
                    <div class="input-group mb-4">
                    <span class="input-group-text">
                        <i class="bi bi-envelope-fill text-secondary"></i>
                    </span>
                    <input type="text" id="email" class="form-control" placeholder="e.g. brechosim@example.com" />
                     <!-- tooltip -->
                      <span class="input-group-text">
                        <span class="tt" data-bs-placement="bottom" title="Enter an email address we can reply to.">
                          <i class="bi bi-question-circle text-muted"></i>
                        </span>
                      </span>
                    </div>
                    <label for="name" class="form-label">Nome:</label>
                    <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-person-fill text-secondary"></i>
                    </span>
                    <input type="text" id="name" class="form-control" placeholder="e.g. BrechoSim" />
                    <!-- tooltip -->
                    <span class="input-group-text">
                      <span class="tt" data-bs-placement="bottom" title="Pretty self explanatory really...">
                        <i class="bi bi-question-circle text-muted"></i>
                      </span>
                      </span>
                    </div>
                    <label for="subject" class="form-label">Qual o dia e horário desejado?</label>
                    <div class="mb-4 input-group">
                    <span class="input-group-text">
                        <i class="bi bi-chat-right-dots-fill text-secondary"></i>
                    </span>
                    <select class="form-select" id="subject">
                        <option value="pricing" selected>Pricing query</option>
                        <option value="content">Content query</option>
                        <option value="other">Other query</option>
                    </select>
                    </div>
                    <div class="mb-4 mt-5 form-floating">
                    <textarea class="form-control" id="query" style="height: 140px" placeholder="query"></textarea>
                    <label for="query">Seu agendamento...</label>
                    </div>
                    <div class="mb-4 text-center">
                    <button type="submit" class="btn btn-secondary">Enviar</button>
                    </div>
                </form>
                </div>
            </div>
            </div>
        </section>

  </section>
  