<p>produto works!</p> <!-- Texto de verificação de funcionamento do componente -->

<h4>Cadastrar Produto</h4>
<form action="" class="m-bottom"> <!-- Formulário para cadastrar um produto -->
  <div>
    <label for="nome">Nome <span class="txt-vermelho">*</span>:</label> <br> <!-- Campo de entrada para o nome do produto -->
    <input type="text" name="nome" [(ngModel)]="produto.nome"> <!-- Bind de duas vias para o nome do produto -->
  </div>

  <!-- Botões de ação para salvar, atualizar e cancelar -->
  <button *ngIf="produto.id" type="submit" class="btn m-topo" (click)="salvar()"> <!-- Botão para salvar um novo produto -->
    Salvar
  </button>
  <button *ngIf="produto.id" type="submit" class="btn m-topo" (click)="atualizar()"> <!-- Botão para atualizar um produto existente -->
    Atualizar
  </button>
  <button *ngIf="produto.id" type="submit" class="btn m-topo" (click)="cancelar()"> <!-- Botão para cancelar a edição de um produto -->
    Cancelar
  </button>
  
</form>

<hr>

<h4>Lista de Produtos</h4>
<table class="table m-topo m-bottom"> <!-- Tabela para exibir a lista de produtos -->
  <thead>
    <tr>
      <th>#</th> <!-- Cabeçalho da coluna de identificação -->
      <th>Nome</th> <!-- Cabeçalho da coluna de nome -->
      <th>Ações</th> <!-- Cabeçalho da coluna de ações -->
    </tr>
  </thead>
  <tbody *ngIf="produtoes.length > 0"> <!-- Verifica se há produtoes na lista -->
    <!-- Loop para exibir cada produto na tabela -->
    <tr *ngFor="let produto of produtoes;">
      <td>{{ produto.id }}</td> <!-- Coluna com o ID do produto -->
      <td>{{ produto.nome }}</td> <!-- Coluna com o nome do produto -->
      <td>
        <!-- Botões de ação para editar e excluir o produto -->
        <button (click)="editar(produto)">Editar</button> <!-- Botão para editar o produto -->
        <button (click)="excluir(produto.id)">Excluir</button> <!-- Botão para excluir o produto -->
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="produtos.length == 0"> <!-- Caso não haja produtoes na lista -->
    <tr>
      <td class="text-center" colspan="3"> <!-- Mensagem indicando que nenhum resultado foi encontrado -->
        Nenhum resultado encontrado.
      </td>
    </tr>
  </tbody>
</table>


<div class="container">
  <h2>Produtos Disponíveis</h2>
  <div class="row">
    <!-- Loop through products and display each one -->
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
        <img src="{{ product.imageUrl }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Preço: R$ {{ product.price }}</p>
          <button class="btn btn-primary" (click)="addToCart(product)">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
  </div>
</div>
