<p>pais works!</p> <!-- Texto de verificação de funcionamento do componente -->

<h4>Cadastrar País</h4>
<form action="" class="m-bottom"> <!-- Formulário para cadastrar um país -->
  <div>
    <label for="nome">Nome <span class="txt-vermelho">*</span>:</label> <br> <!-- Campo de entrada para o nome do país -->
    <input type="text" name="nome" [(ngModel)]="pais.nome"> <!-- Bind de duas vias para o nome do país -->
  </div>

  <!-- Botões de ação para salvar, atualizar e cancelar -->
  <button *ngIf="!pais.id" type="submit" class="btn m-topo" (click)="salvar()"> <!-- Botão para salvar um novo país -->
    Salvar
  </button>
  <button *ngIf="pais.id" type="submit" class="btn m-topo" (click)="atualizar()"> <!-- Botão para atualizar um país existente -->
    Atualizar
  </button>
  <button *ngIf="pais.id" type="submit" class="btn m-topo" (click)="cancelar()"> <!-- Botão para cancelar a edição de um país -->
    Cancelar
  </button>
  
</form>

<hr>

<h4>Lista de Países</h4>
<table class="table m-topo m-bottom"> <!-- Tabela para exibir a lista de países -->
  <thead>
    <tr>
      <th>#</th> <!-- Cabeçalho da coluna de identificação -->
      <th>Nome</th> <!-- Cabeçalho da coluna de nome -->
      <th>Ações</th> <!-- Cabeçalho da coluna de ações -->
    </tr>
  </thead>
  <tbody *ngIf="paises.length > 0"> <!-- Verifica se há países na lista -->
    <!-- Loop para exibir cada país na tabela -->
    <tr *ngFor="let pais of paises;">
      <td>{{ pais.id }}</td> <!-- Coluna com o ID do país -->
      <td>{{ pais.nome }}</td> <!-- Coluna com o nome do país -->
      <td>
        <!-- Botões de ação para editar e excluir o país -->
        <button (click)="editar(pais)">Editar</button> <!-- Botão para editar o país -->
        <button (click)="excluir(pais.id)">Excluir</button> <!-- Botão para excluir o país -->
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="paises.length == 0"> <!-- Caso não haja países na lista -->
    <tr>
      <td class="text-center" colspan="3"> <!-- Mensagem indicando que nenhum resultado foi encontrado -->
        Nenhum resultado encontrado.
      </td>
    </tr>
  </tbody>
</table>


<div class="container">
  <h2>Produtos Disponíveis</h2>
  <div class="row">
    <!-- Loop through products and display each one -->
    <div class="col-md-4 mb-4" *ngFor="let product of products">
      <div class="card">
        <img src="{{ product.imageUrl }}" class="card-img-top" alt="Product Image">
        <div class="card-body">
          <h5 class="card-title">{{ product.name }}</h5>
          <p class="card-text">{{ product.description }}</p>
          <p class="card-text">Preço: R$ {{ product.price }}</p>
          <button class="btn btn-primary" (click)="addToCart(product)">Adicionar ao Carrinho</button>
        </div>
      </div>
    </div>
  </div>
</div>
