<section id="intro">
    <!-- Intro content goes here -->

    <!-- main image & intro text -->
    <section id="intro">
        <div class="container-lg">
          <div class="row g-4 justify-content-center align-items-center">
            <div class="col-md-5 text-center text-md-start">
              <h1>
                <div class="display-2">BrechóSim</div>
                <div class="display-5 text-muted">Moda Sustentável</div>
              </h1>
              <p class="lead my-4 text-muted">Diga sim à moda de reuso, o planeta e seu bolso agradecem.</p>
              <a href="#pricing" class="btn btn-secondary btn-lg">Compre ZAP</a>
              <!-- open sidebar / offcanvas -->
              <a href="#sidebar" class="d-block mt-3" data-bs-toggle="offcanvas" role="button" aria-controls="sidebar">
                Explore a coleção inteira!
              </a>
            </div>
            <div class="col-md-5 text-center d-none d-md-block">
              <!-- tooltip -->
              <span class="tt" data-bs-placement="bottom" title="Net Ninja Pro book cover">
                <img src="Imagens/Logotipo1.0.png" class="img-cat" alt="logo-brecho" style="width: 350px;" >
              </span>
            </div>
          </div>
        </div>
      </section>

  </section>
  