<p>painel works!</p> <!-- Texto de verificação de funcionamento do componente -->

<!-- Div com classe "flex" para criar um layout flexível -->
<div class="flex" style="margin-top: 60px;">

    <!-- Primeira caixa de informações -->
    <div class="box box-azul">
        <div class="card product-card">
            <img class="product-image" [src]="product.imageUrl" alt="{{ product.name }}">
            <div class="card-body">
              <h5 class="card-title">{{ product.name }}</h5>
              <p class="card-text">{{ product.description }}</p>
              <p class="card-text">R$ {{ product.price }}</p>
              <button class="btn btn-primary" (click)="addToCart(product)">Adicionar ao Carrinho</button>
            </div>
          </div>
    </div>

    <!-- Segunda caixa de informações -->
    <div class="box box-verde">
        <div class="product-list">
            <app-pais-card *ngFor="let product of products" [product]="product"></app-pais-card>
          </div>
    </div>

    <!-- Segunda caixa de informações -->
    <div class="box box-vermelho">
        <p>Total Cliente</p><br> <!-- Título indicando o que a informação representa -->
        <span>{{nuClientes}}</span> <!-- Variável que será exibida dinamicamente com o número total de clientes -->
    </div>
</div>




  
  