<p>painel works!</p> <!-- Texto de verificação de funcionamento do componente -->

<!-- Div com classe "flex" para criar um layout flexível -->
<div class="flex" style="margin-top: 60px;">

    <!-- Primeira caixa de informações -->
    <div class="box box-azul">
        <p>Total Países</p><br> <!-- Título indicando o que a informação representa -->
        <span>{{nuPaises}}</span> <!-- Variável que será exibida dinamicamente com o número total de países -->
    </div>

    <!-- Segunda caixa de informações -->
    <div class="box box-verde">
        <p>Total Brecho</p><br> <!-- Título indicando o que a informação representa -->
        <span>{{nuBrechos}}</span> <!-- Variável que será exibida dinamicamente com o número total de brechós -->
    </div>

    <!-- Segunda caixa de informações -->
    <div class="box box-vermelho">
        <p>Total Cliente</p><br> <!-- Título indicando o que a informação representa -->
        <span>{{nuClientes}}</span> <!-- Variável que será exibida dinamicamente com o número total de clientes -->
    </div>
</div>
