<p>brecho works!</p>

<h4>Cadastrar Agenda Brecho</h4>
<form action="" class="m-bottom">
  <div class="m-topo m-bottom">
    <label for="nome">Nome <span class="txt-vermelho">*</span>:</label> <br>
    <input type="text" name="nome" [(ngModel)]="brechoForm.nome">
  </div>

  <div class="m-topo m-bottom">
    <label for="dtCadastro">Data de Cadastro <span class="txt-vermelho">*</span>:</label> <br>
    <input type="date" name="dtCadastro" [(ngModel)]="brechoForm.dt_cadastro">
  </div>

  <div class="m-topo m-bottom">_
    <label for="pais">País <span class="txt-vermelho">*</span>:</label> <br>
    <select name="pais" [(ngModel)]="brechoForm.pais_id" [disabled]="brechoForm.id">
      <option value="">Selecione...</option>
      <option *ngFor="let pais of paises" value="{{ pais.id_pais }}">{{ pais.nm_pais }}</option>
    </select>
        <div class="m-topo m-bottom">_
          <label for="estado">Estado <span class="txt-vermelho">*</span>:</label> <br>
          <select name="pais" [(ngModel)]="brechoForm.pais_id" [disabled]="brechoForm.id">
            <option value="">Selecione...</option>
            <option *ngFor="let estado of pais" value="{{ pais.id_estado }}">{{ pais.nm_estado }}</option>
        </select>
          <div class="m-topo m-bottom">_
            <label for="cidade">Cidade <span class="txt-vermelho">*</span>:</label> <br>
            <select name="cidade" [(ngModel)]="brechoForm.pais_id" [disabled]="brechoForm.id">
              <option value="">Selecione...</option>
              <option *ngFor="let cidade of estado" value="{{ pais.id_cidade }}">{{ pais.nm_cidade }}</option>
          </select>
          </div>>
      </div>
  </div>

  <div class="m-topo m-bottom">
    <label for="descricao">Descrição <span class="txt-vermelho">*</span>:</label> <br>
    <textarea name="descricao" cols="30" rows="10" [(ngModel)]="brechoForm.descricao"></textarea>
  </div>

  <button *ngIf="!brechoForm.id" type="submit" class="btn" (click)="criar()">
    Salvar
  </button>

  <button *ngIf="brechoForm.id" type="submit" class="btn" (click)="atualizar()">
    Atualizar
  </button>

  <button *ngIf="brechoForm.id" type="submit" class="btn" (click)="cancelar()">
    Cancelar
  </button>
  
</form>

<hr>

<h4>Lista do Brecho</h4>
<table class="table m-topo  m-bottom">
  <thead>
    <tr>
      <th>#</th>
      <th>Nome</th>
      <th>Data Cadastro</th>
      <th>Descrição</th>
      <th>Ações</th>
    </tr>
  </thead>
  <tbody *ngIf="brecho.length > 0">
    <tr *ngFor="let brecho of brecho;">
      <td>{{ brecho.id }}</td>
      <td>{{ brecho.nome }}</td>
      <td>{{ brecho.dt_cadastro }}</td>
      <td>{{ brecho.descricao }}</td>
      <td class="text-center">
        <button (click)="editar(brecho)">Editar</button>
        <button (click)="excluir(brecho.id)">Excluir</button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="brecho.length == 0">
    <tr>
      <td class="text-center" colspan="5">
        Nenhum resultado encontrado.
      </td>
    </tr>
  </tbody>
</table>

