<section id="pricing">
    <!-- Pricing content goes here -->

    <!-- pricing plans -->
    <section id="pricing" class="bg-cor mt-4">
        <div class="container-lg">
          <div class="text-center">
            <h2>Catálogo</h2>
            <p class="lead text-muted">Escolha a peça que combine com seu estilo.</p>
          </div>
    
          <div class="row my-4 g-0 align-items-center justify-content-center">
            <div class="col-8 col-lg-4 col-xl-3">
              <div class="card border-0">
                <div class="card-body text-center py-4">
                  <h4 class="card-title">Vestidos</h4>
                  <p class="lead card-subtitle">Para todos as ocasiões</p>
                  <p class="display-3 my-2 text-primary fw-bold">R$12.99</p>
                  <img src="images/vestazulfloresrosas.jpeg" class="img-cat" alt="cat-brecho" style="width: 200px;" >
                  <p class="card-text mx-5 text-muted d-none d-lg-block">Vestido azul curto com estampas em flores rosas.</p>
                  <a href="#" class="btn btn-outline-primary btn-lg mt-3">
                    Comprar
                  </a>
                </div>
              </div>
            </div>

            <div class="col-9 col-lg-4">
                <div class="card border-primary border-2">
                  <div class="card-header text-center text-primary">Promoção do Dia</div>
                  <div class="card-body text-center py-5">
                    <h4 class="card-title">Vestidos</h4>
                    <p class="lead card-subtitle">Combine os estilos</p>
                    <p class="display-2 my-2 text-primary fw-bold">R$18.99</p>
                    <img src="images/vestidosobretudo.jpeg" class="img-cat" alt="cat-brecho" style="width: 200px;" >
                    <p class="card-text mx-5 text-muted d-none d-lg-block">Vestido longo listrado colorido.</p>
                    <a href="#" class="btn btn-outline-primary btn-lg mt-3">
                      Comprar
                    </a>
                  </div>
                </div>
              </div>
      
              <div class="col-8 col-lg-4 col-xl-3">
                <div class="card border-0">
                  <div class="card-body text-center py-4">
                    <h4 class="card-title">Vestido</h4>
                    <p class="lead card-subtitle">Projeto Verão</p>
                    <p class="display-3 my-2 text-primary fw-bold">R$14.99</p>
                    <img src="images/vestregatabordablack.jpeg" class="img-cat" alt="cat-brecho" style="width: 200px;" >
                    <p class="card-text mx-5 text-muted d-none d-lg-block">Vestido curto regata com estampas de flores em tom vermelho e barra preta.</p>
                    <a href="#" class="btn btn-outline-primary btn-lg mt-3">
                      Comprar
                    </a>
                  </div>
                </div>
              </div>
            </div>
      
          </div><!-- end container -->
        </section>

  </section>
  