<section id="reviews">
    <!-- Reviews content goes here -->

    <!-- reviews list -->
    <section id="reviews" class="bg-cor">
        <div class="container-lg">
          <div class="text-center">
            <h2><i class="bi bi-stars"></i>BrechóSim nas Mídias</h2>
            <p class="lead">Um pedacinho de nós em cada compra...</p>
          </div>
    
          <div class="row justify-content-center my-4">
            <div class="col-lg-8">
              <div class="list-group">
                <div class="list-group-item py-2">
                    <div class="pb-2">
                        <i class="bi bi-star-fill text-altdark"></i>
                        <i class="bi bi-star-fill text-altdark"></i>
                        <i class="bi bi-star-fill text-altdark"></i>
                        <i class="bi bi-star-fill text-altdark"></i>
                        <i class="bi bi-star-fill text-altdark"></i>
                      </div>
                  <h5 class="mb-1">Sucesso BrechóSim!</h5>
                  <p class="mb-1">Desejo muito sucesso nas vendas.</p>
                  <small>Por @rods.s</small>
                </div>
                <div class="list-group-item py-2">
                    <div class="pb-2">
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      </div>
                  <h5 class="mb-1">Arrasou BrechóSim!!!</h5>
                  <p class="mb-1">Sucesso de vendas.</p>
                  <small>Por @quintal_de_ksa</small>
                </div>
                <div class="list-group-item py-2">
                    <div class="pb-2">
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      <i class="bi bi-star-fill text-altdark"></i>
                      </div>
                  <h5 class="mb-1">Boas Vendas!</h5>
                  <p class="mb-1">BrechóSim, tudo de bom, boas vendas.</p>
                  <small>Por @shirley.andraade</small>
                </div>
              </div>
              
            </div>
          </div>
        </div>
      </section>

  </section>
  