<section id="side-panel">
    <!-- Side-panel content goes here -->

    <!-- side panel / offcanvas -->
    <div class="offcanvas offcanvas-start" tabindex="-1" id="sidebar" aria-labelledby="sidebar-label">
        <div class="offcanvas-header">
          <h5 class="offcanvas-title" id="sidebar-label">Outras coleções</h5>
          <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
          <p>Renove. Reutilize. Repense. Re-use.</p>
          <!-- dropdown -->
          <div class="dropdown mt-3">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="book-dropdown" data-bs-toggle="dropdown">
              Moda Sustentável
            </button>
            <ul class="dropdown-menu" aria-labelledby="book-dropdown">
              <li><a class="dropdown-item" href="https://www.instagram.com/brech0sim?igsh=MW90emM5MXVzN2V4Zg==">Instagram</a></li>
            
              <li><a class="dropdown-item" href="https://www.enjoei.com.br/@brech0sim?fbclid=PAAaZRftS1vQb2LCvUeRs93pmNiRvHWGN2xBT93fZ75tEJphR4wKV57SAmFqc&sid=bab7efba-3aba-44cb-b32d-c1813788d20e-1711128401239">Enjoei</a></li>
            </ul>
          </div>
        </div>
      </div>

  </section>
  